* {
  box-sizing: border-box;
}
section {
  float: left;
  height: 300px;
  width: 300px;
  margin: 100px;
  
}

main{
  float: left;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  height: auto;
  width: 100%;
  padding: 50px 0 200px 0;
  font-family: 'Baskervville', serif;
}

li{
  text-decoration: none;
}

h1{
  text-align: center;
}

img {
  height: 300px;
  width: 300px;
  border: 1px solid blue;
}

img:hover{
  opacity: 0.5;
}

footer {
  float: left;
  
}

header{
  display: flex;
  flex-direction: column;
  width: 150px;
  margin: auto;
}